.table {
    text-align: center;
    overflow-wrap: break-word;
    width: 100%;

    th {
        font-size: 13px;
        font-weight: normal;
        background: #b9c9fe;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid white;
        color: #039;
        padding: 8px;
    }
    td {
        background: #e8edff;
        border-bottom: 1px solid white;
        color: #669;
        border-top: 1px solid transparent;
        padding: 8px;
    }
    tr:hover td {
        background: #ccddff;
    }

    .ADM_table{
        border: none;
        background: none;
    }
    .ADM_tableId{
        border: none;
        background: none;
        outline: none;
    }
    #NotHoverTr{
        background: #e8edff;
        &:hover td{
            background: none;
        }

        .AdMode{
            cursor: pointer;
            background: #e8edff;
            &:hover{
                background: #ccddff;
            }
        }
    }
}


#form_add_statement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    background: #e8edff;
        border-bottom: 1px solid white;
        color: #669;
        border-top: 1px solid transparent;
        padding: 8px;

    .form_input_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #titel_form_add{
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.button_style{
    line-height: 20px;
    padding: 10px 20px;
    background-color: #a3c1ff;
    color: black;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.button_style_table_form{
    line-height: 20px;
    background-color: #a3c1ff;
    color: black;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: all .5s;

    &:hover{
        background: #5689f1;
    }
}